# Default ignored files
/../../../../:PORTFOLIO1/PORTFOLIO1/.idea/shelf/
/../../../../:PORTFOLIO1/PORTFOLIO1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:PORTFOLIO1/PORTFOLIO1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:PORTFOLIO1/PORTFOLIO1/.idea/dataSources/
/../../../../:PORTFOLIO1/PORTFOLIO1/.idea/dataSources.local.xml
